services:
  backend:
      #image: python:3.13.4-slim-bullseye
      build:
          context: ./backend
          dockerfile: Dockerfile
      ports:
          - "3001:8080"
      command: uvicorn main:app --host 0.0.0.0 --port 8080 
      environment:
        PORT: 8080
        MY_PROJECT: "test project"
      env_file:
        - .env.sample
      volumes:
          - ./backend/src:/app
      develop:
        watch:
          - action: rebuild
            path: backend/requirements.txt

          - action: rebuild
            path: backend/Dockerfile

          - action: sync
            path: backend/src/
            target: /app

  static_html:
    #image: python:3.13.4-slim-bullseye
    build:
        context: ./static_html
        dockerfile: static.Dockerfile
    ports:
        - "3000:8080"
    command: python -m http.server 8080
    volumes:
        - ./static_html/src:/app
  